body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-width {
    max-width: 1100px;
    margin: 0 auto;
}

/* Hero Section */

.hero {
    background-color: #1f2937;
    padding: 10px 10px 100px;
}

.header {
    margin-bottom: 100px;
}

.header,
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links,
.hero-secondary-text {
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    column-gap: 20px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-right {
    height: 300px;
    width: 500px;
    background-color: rgb(103, 103, 136);
}

.hero-button {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #3882f6;
    font-weight: bold;
    width: 110px;
    height: 30px;
    margin-top: 10px;
}

/* Information Section */

.information {
    /* text-align: center; */
    padding-top: 50px;
    padding-bottom: 100px;
}

.information-main-text {
    padding-bottom: 30px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.card-entries {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.card-image {
    border: 3px solid #3882f6;
    border-radius: 15px;
    height: 150px;
    width: 150px;;
}

.card-text {
    text-align: center;
}

/* Quote Section */

.quote {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 150px 100px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300px;
    align-self: flex-start;
    margin: 0;
    font-style: italic;
}

.quote-author {
    font-weight: 700;
    align-self: flex-end;
    font-size: 17px;
}

/* Call to Action Section */

.cta {
    padding: 100px;
}

.cta-box {
    background-color: #3882f6;
    padding: 50px 150px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: #f9faf8
}

.cta-main-text {
    margin-bottom: 0;
    margin-top: 15px;
}

.cta-secondary-text {
    margin-top: 5px;
}

.cta-button {
    align-self: center;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 7px 30px;
    font-size: 17px;
    font-size: bold;
}

/* Footer Section */

.footer {
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color: #f9faf8
}
